#ng-bar-wrap {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
  height: 32px;
  font-family: Verdana;
  font-size: 12px;
  border: 1px solid #11163e;
  background-color: #ffffff;
}
#ng-bar-wrap.hidden {
  display: none;
}
#ng-bar-onoff {
  width: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  height: 32px;
  padding: 0 0 0 6px;
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  background: #eeeeee;
  border: 1px solid #11163e;
  border-left: none;
  cursor: pointer;
}
#ng-bar-onoff:hover {
  background: #EFEEEF;
}
#ng-bar {
  margin-left: 24px;
  margin-bottom: 28px;
  color: #111111;
}
#ng-bar > div {
  padding: 2px 10px;
  font-size: 12px;
  display: block;
  float: left;
  border-right: 1px solid #000;
  position: relative;
  cursor: pointer;
}
#ng-bar .hidden {
  display: none;
}
#ng-bar .errors {
  background: #ff0000;
  color: #ffffff;
}
#ng-bar .enable-debug {
  line-height: 28px;
  color: #ffffff;
  background: #ff0000;
  padding: auto 8px;
}
#ng-bar .angular {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAeCAYAAAA/xX6fAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDBMlbqQvEAAABotJREFUSMeNl3uMVVcVxn9rn3Puc4aBUmCAwZGWUBtrSyFCKwp9IEjLHtvGlBhibROr2BSbNI20lTQqviIEk8aa6h9imkprKkXm1NZEbdSqlfCKtKiFgkAL2AkgcOfeuY+z9/KPc+8wQ2cYd3Jzz945a317fWvtb68jjDHiOAYw1lrfnHeJ83eokQIi26y1B5vrAeAArLWj+pNRAADEWqvNtQ5UF2LMj30QdIWVgYbPZUEkwrkK8CCw3Vp7pvm+ANpyNHQDMhTIWtt6Way1Po7jG4BnUJ2lQSD5k33MfL6XoO8U//Q1uGkhbtktqQNVReQ0sMZa+3zTDy3gFqgMoUOstUkcx3PE60bUL0iKhbbC8f/Q1fs7bTvyjmTOlXAiyPpH2fv9TQSVAXAenXI5/vpr1d++BBChWlMCsw+R71prf9HEiLz3jRbg1eL9auDeRltxXK7vlJv8190ycdc+kz/ZR6NYGKRCoojoty/wt0e+RrRjN4iAMZAkSGUAf/Vs/Lxr1S+Yl1AoRFQGQNiKMT+11r4scRz/RI25PyxX6u1vHw2n/+YPpnjsOI32IqgiXi8k2Hui5bdi1j3Mn3fuJPfgoxCFw4vAmNSuVMZ/5CrcLYtUZ36gQS6bwesboSTucPHEifqHntyc8VGIqJIU8ojz76swrdXJfe8J6qUSVCr4BXMxf98Pzg3bFIC2FZAj7xJu3iKcK2WSDV+vayF/0Ij3R5NiXjQwiPegOnI9hyHhohthYAARARHcXbfDufOjnylV8IoAOnFCBpG3DHDcZTPRWOdRT58ht3ZNOgmCNHfFAv6GeRCYS9u2FSGKQORNI6onfCYzemRNgGDedQRXzYJMRO25rUgjgWoNv+xmqNVHtxVBp3dC4gD2G1Orn/DZDHIpwEZC9kv3oP89B4mj/vQzmH8dhDBEZ3ajkydfOsJpUyFJAN4wn1r12YqPQjQMRjfAE922FMIAf+QdcAnB5i2QiaC/jLtv5RgRTlWcw1rrW+SXB6ZMGpnWIKDwrcfR8+eRce0MrP1mmr98DrNjD6ii06dBGI6+4c5JSpKcBTDNEPZUuqbqSLRqqZ/w5k+Ac/h/H8MfPJQCKgQv/hrGd4BzJF+8p0Xb8OE9FIseeHsQUFT3lLs63x+h92Q+dzcUC5DJUP9lDNksmrjUUamf4C87IHFodxcUCulmLvKhhbwHOQQQNhd3V7qmDgeUVDVya74AtRoAuYdXk3vkAarVKvU/vUYQBOAdNNLI3CcXE/zqleHq4z0U8opwKI7j0PT29oamkeyvTrn84kohuKI7jU4kzVW5gpb60VIZqtX0V28MbtQvvQnyueFRpoAhIoeBIBQRxLszGgSiQxKvlQr5H20A55BshtqWFweVqOEdwbvHMGk60EwGP+caqFTx86/HvL7rAuBlE8CYAJGjgA8BRbVfRfBhiHEOAkMwexYyfhyo4g4cpvrVb6RzoBEEBMkAhlTiEPDzrkvf/YzF/P61NFJV/IwuSHX5KKAGUJMkJUQGz6Ke7yf7wH0pHapUN/4Q6ZycylMUpTlq/TdtwldeTZ8bCf6mhan8qaLd09PCUT0KeAPo8pV31wB8FCrGIJMmEn36tvSqyedwe/YN3gKjCbu8+sdUvlTxSxZDuZxuvnsGeE9PT08d8EZEtKkIZxrtbQKQ/fK9aKOOtLfT2PoSVAYurbWq4DzyXh8U8vgZ0/Dz54Ix6LROxfuzrTYjdBfush2n589ZPu7ZbVQ3PU3t2z9AnYMgRLJZxhwihBueSqk0TQFrK0ImcsDeVt80tIm6A5FtYamfK36+Xcfvf0saxUJamRdreWD4R1LFjACK95CJcCuWer9ksaFc6QdWWWt7L0hbE9OuWCFJsRAfWL1K9q1bQ1IsICPJ1Wi0iuBv/Cj1Tevx8+cK5cqT1tp24OVhbeKQXrS11ga8iUhXx/4D5sqfvTDYq4wYoSp65QdTPU3pjK21PRe1n1hrUxtr7WDf2Gx++6213eL9wrMfns3e76xNTixbRFgZQINgeEc7oYPksYdc8pX7QeR1oMta2xPH8TDGW/5HXAQ0jmNUZGfPihWCkcdP3vpxdm1c1zh7zWyCShXNZXGfX+ka6x9DO8Ydod5YbHt6Pga81xK1kdp++T+/LTLW2vpL27dv91HUk+07pbVpnSLl8hnC8CFr7bNxHEfW2kaLutGGGQuwaVyP4xg15i5xrqN+2fg+qdWesHfeORF4rlW8Y33IAPwPs88doyy0nN4AAAAASUVORK5CYII=") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
#ng-bar .logo {
  float: right;
  color: ##627E96;
  font-size: 12px;
  line-height: 24px;
}
#ng-bar .github {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAXCAYAAAAV1F8QAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDQsTIsdI5wAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAPDSURBVEjHxVZtaFtVGH5u7k2WtEmaYIj92JdrdZudVj2UKZmbP5SOOj82xCHMTtmPIVr0lzo/BmpbW4WKWhSVgsgcYtWBUt0UmQzRWdbZzDWmXdOun8vH2ibpkib33tzXH0lvbtJUEaMeOD/Oec95n3Pe533eczgiwn/RdDkjEhEJzZ65Iv0DcJIRj8zfGU/lzxOpXRzrpgcYI8a20e7mN6h3aIFSGvufdTl8no699jjtdjFibCsd7A3l7OWyoVPg/6yJdrV7Ncewgh1oxSv7a+dT0yN230QQ4YUriCUJepMZZY5KXFOzFvrBD/HCix9jMJHdaXB14sSb2zlLZixkTRLmxufy7htFf3czGrth/7sRFINTiKZAFh5cHkccBD1fPPYFIwSuYDLo4bx+DYoFZbuuGlYduOVAtIhJjx+pIgFFL7hxSQQtA5IufkItH00ULXKK5x10HA9AyQVKYrinB76iSlRG/5ETmJLTt0oDSdP08+lQgcU8SqylMPyFy1VmC0xcAcPoDzgXVjTpLQUxFNSuMOCGRzvQcsCFKqMOgIJkJIDpmQBmI3GICo9VZjuc5eUod1hh0AFQFjBy/C08c/gYxlU/AVwIyYDDkAFSRMREjUwb2tH52O2wBL9F23MfwLvmYbQ8fy82bK7gNuQcOQHfp4focM8sWHMbnmx8Fm8nxrGn7SzktJoQlxQNR5weRlW6TuzadyvsXBSnO1vwxbkxeHpfRfvJOZVYlXD/N9T6+ncYGjuLoy91wR3nUXnXI9huykrGlBFTGkgow2rbkrESWyr0gOTHgDeuVo2R/imIeUCJqX6MLiVwxIPzl2XAVIXNV6tqQpVN0AAZKqvr1vNqtiRlAngznJasU7PTvEzMgtkBs1pYLHCU6gBFRlLOzJVtwkY7rw2ddbTuHpYhbAw/DcdAfDnuaNqBUgAw1GNf41ro84AM1fdjb23ahb1hP26z66CEB9E3neHatRM1pkx1UEt9fJC69jBijBHb+z4NLRIRiTQ77CZvMEnKCs+DsniJPG4fhSUiSkXol9adaR/1TXTkokhL63I2JSe/pKcb0mA7Dr5LpybjKwLk91R0mL7ueIi2MkaM3Ucvfx8gufB7lMmkqIe+eq8L3Z/3YUbW4aprGW6+sRYb1zlRVmKEsFS0KAUpEcO8fxS//+bGrwPjiAKw1T2Ipw49gbtrSjithrmV/gwkhs54fjzJTvUNwOubwEzgMuYiMSxKMhTioOMFGEsssDkqsHp9NTZtuQn1rm24ZZ2FK/QCcP/P5+RfbH8A/R0GppXw1owAAAAASUVORK5CYII=") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
  width: 28px;
  height: 28px;
}
#ng-bar .ngbar-app-name {
  margin-left: 8px;
}
.ng-bar-plugin h4 {
  margin: 8px;
  font-family: Verdana;
  font-size: 12px;
}
.ng-bar-plugin h4 span {
  font-weight: bolder;
}
.ng-bar-plugin .sub {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 0;
  margin-bottom: 2px;
  border: 1px solid #ccc;
  max-height: 300px;
  min-height: 40px;
  min-width: 180px;
  overflow-x: auto;
  overflow-y: auto;
  background: #fff !important;
  color: #111111 !important;
  padding: 4px 20px 4px 10px;
}
.ng-bar-plugin .sub ul {
  padding-left: 10px;
}
.ng-bar-plugin .sub li {
  list-style-type: none;
  white-space: nowrap;
}
.ng-bar-plugin .sub li h5 {
  background: #eeeeee;
  margin: 2px 0 2px -10px;
  padding: 4px 0 4px 10px;
}
.ng-bar-plugin .sub li.has-sub:hover:before {
  content: '>';
  float: right;
}
.ng-bar-plugin .cnt {
  font-weight: bold;
  paddin-left: 10px;
  color: #333333;
}
.ng-bar-plugin.active {
  background: #c9e7f4;
}
.ng-bar-plugin.active .sub {
  display: block;
}
.ng-bar-plugin table {
  margin: 4px 10px 4px 10px;
}
.ng-bar-plugin table .nw td,
.ng-bar-plugin table .nw th {
  white-space: nowrap;
}
.ng-bar-plugin .missing {
  color: #5e5e5e;
}
.ng-bar-plugin h4.forms {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDDQc62QVfQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAALASURBVEjH7dZfSFNRHAfw71lu/pmaBgX5MDTKB50rWEEZIUQE1UNk7EGSzKnzT9PKChph7z04w/nQNgs1ZP6hhwy0P/gS+IegqNSM1tKCjBxqLJ1zf+6vh1lru3dumvgQHTgv5x7u5/c793fOPYyIsJFNhA1u/z4YEzrg/jZEHcZ76HsxgZlFX5SvYRAnp0Fx/AJ05/awZFGUGbo/36fLqmo09jyH9asTXLRhkxcL03Z4U7cgTsRhdlBPhXkH6dSNXvriRnBVEpG/++xdfVUHSKk8RNr2MXL4KPAs6u7DzMBNylcqSbncj+p6acpD9GtOIEOXTdX/2g3IilCrykLSqr8uh9nBeiqr6cKnP0ZnntxC67hLYEk5FxwuAElbkbQJ3WvBNDWdQRgASHYXIH9n7HpWKYe5IT82GYopqmBuLEJmPGNRgeR8RxbdWSq82kZj8xwJY3oqqxbCKmE2FCNbGsAEt0UAG6e2i6UwvFwC8Bal9iWYmkooJ1HEgrEOQczUqOZhK2TowaSlbhlbHhk1QqO9g5F5jgAOc8MNpBHAxDl+TJ7Ix1YAY7BtXx52hIYxaoRGa8Kzp/Wk0VowwcMqYDaEx1YAGaSK88zYVIAMHtqMWl1nWCybWfG45xV953jxRioaEVL3X2ImARThMoufxsNraly/3Y8pD2xrOLwjo2J5OUwGNeSJIgbvLKw219/+LcKjYnk5TE0lCFTuuv2e+OhasOB9yMRIkABw/YCLg4ofih9tvptBluFYHD5zDJnSEOz38RgPCYuUYVw6cncBsLWjZWAa3jDTNyvyWYXmBONh5IT1gRn9DiBZsRfbJRAkWeASRVh400TF6lZ8BJCSngVZiiS6NScfnPYPeD+1CCTkoq5Dj5NpMZFA/3HlGOmmBn0LHo3Y4VnVIS6FLPc0Kq+U44gsNuzOZ/+vievdfgLTK1+woVmGqAAAAABJRU5ErkJggg==") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
}
.ng-bar-plugin h4.ui-router {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDQAlDokEtQAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAecSURBVEjHlVZbbFTXFV37nHPvnXtnxvOwMZh3AAOFkIDCm7FKSq0qTcA0ahI+SpS/SoiPqv+RqqSV+lH1s6oqtU3V/lSqGsluESGRm8ZjA4UADTYFA8EDNn7jsZnnvfec3Y+xBxNaItbP/TlnrbPO3uvcTV1dXTh8+DC6urqwgMOHD2Mxzpw5jfZ2H319jesAvM3MbwEgIvo9Ef1l//79t3t7e8WBAwfM4n2LuRe+1NnZCSJ6QujTf2YpFSeq+GjWht80BscB7KwGhOGxAmBKWLMiBaUUAFwWQnwgBX3Yun7F8MD1HLW1tT0hDgCEr+Dc2T6lFBrCEN/Vht9m5vZQA+MPNN/IBWZgOE75QijC/BVEraJ5obWBt25aKlqWpkhKCSLKSik/sJQ8ZVnWxMTkA9PefogX+Kmnp4eIyPIc4Qaa24zB8dDge9qwlX9ocPNuoAfuOTT+wKVk1CfLIeRnKjCFfgiUEBqBkm84GRVm+8YYtm5skU2NSSgljBDijKXkH5RS3VU/yPu+H1A2m20E8DMGvak1p0plg5vDWl8bEhiajJFnh4Ikw4sYvLIvjlQiind/M40V9nnsaJVoiEdw6VoelapBsaJRrDI3J5XZsTnO39jYolKJOCwlK0R0iohOKiKKM/MPh0ZD/983dTAwkpDxSCAjtkHS88GSUKxItDgBdmxZAq0JoZ4GEyOVcJDZuw0vvVjC/bEpXBucwL37ZZqrGJm9nMcnF/JmaVKG39y5RGzZvPZoPOq+pzzHDBcqQudGA3FjLKGWN5Rw9FAzCqUQv+uqoDEZAAA0EUJtwCxrxTBA94UpXM+dw/bWJFo3rMLG9SsxO1fG6Ngk/vXFGHKjZTE5q9XQcEFseM6/GV+WLgjbVobA9xNxKU0A9jzg1ZfXIJVwEJIAUa3ekhlivsU4pFpna+DLuyWczt7HxMQUxidmMHA9h8Z0ApueS4CIEPjMTWkbtq3GgkBXFGp8uahDq0ISzMwoVzSMMfg6GABSEiIRCduxUa0G6D43gT+fGUdjgiAICA045tpQSo2EYVgWhsEAhqIugZlYCEApUc/mYvBXUkSCoUEwxoCZQYIQ9SSSHsCaYQwQhMTRqIuIY4/kZwtlFWqAiIbiLkEHNUJm/p+OCPxUx8wMYww0M4gEqHYD7Hk2IhF7ZOeu3WVxf3SaiSjnugQpakr05HvwTDAAiBmGgVSMWUkFIcQIAIhXX3sNRJyTgpBuqOBppeNnOQgBYWiQbFCwLAkhMA4AAgAE4Q4ApGM+s/7/pOIZXBIzQg1OxS1LCKGZqVjniNgYBYB0PHyqCwaDiOpR+TqHWhOnEpawLDlijCnVBd2I9Ak0Ho/QQtfWiPU8sZ53SAJsGKEWtY36aXqEUBtOxhRsS41qrR8JhqEBEQ9FPRK6thCWonrgIQEnwrAUoVgJoAUDAmAiyAXXoHn3BDF/4NCAY14tg34QFheXxQDIxT1C4BNXqiFSCQdTpQi0IcyWLEQUkGpwcH+ihIiN+Ywx5kqoPxTMDN83qFQAzYxqIDnqufDcyMjU9FwJABQAaENMREMxT6BYkZwbeYjWtQkc/9YIPh8kPL+6gEP7V0EIgSsDU2hyDUwALGuykYzbEAQoS4FAaGl24LohwtDAdQy7EQuWJUd/+v5PHgmWK5qFoFzMFchXbXzcdw+rlsdx8gcv4OrgNJpSEaxcFsNfP7qFy7ccxKIP4T8A9mxrxL5dW/GwUITnRQAGjn7HhW0pXL56B8WzY6wsBSloJJvNcvc/umuC7/7qHL93Yt9dxyIImKD7c1tK8R88v7EJLUtcTEyW0N03jE+vlOBFLVSLtTrc+HIWWvfDD0KY+f5SUsCNWOgfzHM0KgPHthxteAoAbMsW9Qz09WU3aUPX740F6L8dBqevLBdL4mW5bnkJswWJ0TkXSc+HLYBCpQKevYqqX0SxKiHIQBJDWoS5OSBkBJkXPTq4Z6Va1pyecxynbc+ePV9ks1mhFgSrPt+O2PT65jX2O40JeaR19SQuDcK/eCutliVLoqWhDN8IMD+Kv2cDURcQQsD3DYpV0ru3OXrf9hZ71YolaIh7f9Kaf/tgZu4GAMzMzJj61LYwsX30Sc/S5pRqD0I+MTUT7suNaZwftKp3p2P2Eq9MQgjMlSvgh1dhoYjASMwW2axuFsHB3cuctaubkU41fKyk+vXg7eHTb73RUQKAnp4eamtrY1o8xqXT6fps+VlPdl08Kl8pV/hHk3m94ebdwPRd98Jy1bE8mafq7ABmi0VOxWTw8q5Ge+P65UinGvqjnvPL8cmZU+3fPjQOAL29vZKZTSaT4fpceuTIEQBAZ2cn0uk0KSWwd+9+BoDz53q3WopeL1b4xxMzYXLgDvt/v+CKWHARB7crbNuySjWlGybjMffnDwvlDzOZzB0AOHv2rNBacyaT4cVDcd3h48JdSKdTIpPJ1P8dly72vWQY78wW+OTUTAUcFtGyNGHi8egvwiD84+49e/sBoP/qFcrPFmh4eNgcO3asLrToiX0cixd0dnahsfHRNf/t9GfOyma1MwjphGHhRhz1/uCt4WtvfL+jCgDZbFZMTU2bo0c70NXVBWMMOjo6HuP/LxAkw0qZvIzsAAAAAElFTkSuQmCC") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
}
.ng-bar-plugin h4.ng-route {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAeCAYAAAA/xX6fAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDBMlbqQvEAAABotJREFUSMeNl3uMVVcVxn9rn3Puc4aBUmCAwZGWUBtrSyFCKwp9IEjLHtvGlBhibROr2BSbNI20lTQqviIEk8aa6h9imkprKkXm1NZEbdSqlfCKtKiFgkAL2AkgcOfeuY+z9/KPc+8wQ2cYd3Jzz945a317fWvtb68jjDHiOAYw1lrfnHeJ83eokQIi26y1B5vrAeAArLWj+pNRAADEWqvNtQ5UF2LMj30QdIWVgYbPZUEkwrkK8CCw3Vp7pvm+ANpyNHQDMhTIWtt6Way1Po7jG4BnUJ2lQSD5k33MfL6XoO8U//Q1uGkhbtktqQNVReQ0sMZa+3zTDy3gFqgMoUOstUkcx3PE60bUL0iKhbbC8f/Q1fs7bTvyjmTOlXAiyPpH2fv9TQSVAXAenXI5/vpr1d++BBChWlMCsw+R71prf9HEiLz3jRbg1eL9auDeRltxXK7vlJv8190ycdc+kz/ZR6NYGKRCoojoty/wt0e+RrRjN4iAMZAkSGUAf/Vs/Lxr1S+Yl1AoRFQGQNiKMT+11r4scRz/RI25PyxX6u1vHw2n/+YPpnjsOI32IqgiXi8k2Hui5bdi1j3Mn3fuJPfgoxCFw4vAmNSuVMZ/5CrcLYtUZ36gQS6bwesboSTucPHEifqHntyc8VGIqJIU8ojz76swrdXJfe8J6qUSVCr4BXMxf98Pzg3bFIC2FZAj7xJu3iKcK2WSDV+vayF/0Ij3R5NiXjQwiPegOnI9hyHhohthYAARARHcXbfDufOjnylV8IoAOnFCBpG3DHDcZTPRWOdRT58ht3ZNOgmCNHfFAv6GeRCYS9u2FSGKQORNI6onfCYzemRNgGDedQRXzYJMRO25rUgjgWoNv+xmqNVHtxVBp3dC4gD2G1Orn/DZDHIpwEZC9kv3oP89B4mj/vQzmH8dhDBEZ3ajkydfOsJpUyFJAN4wn1r12YqPQjQMRjfAE922FMIAf+QdcAnB5i2QiaC/jLtv5RgRTlWcw1rrW+SXB6ZMGpnWIKDwrcfR8+eRce0MrP1mmr98DrNjD6ii06dBGI6+4c5JSpKcBTDNEPZUuqbqSLRqqZ/w5k+Ac/h/H8MfPJQCKgQv/hrGd4BzJF+8p0Xb8OE9FIseeHsQUFT3lLs63x+h92Q+dzcUC5DJUP9lDNksmrjUUamf4C87IHFodxcUCulmLvKhhbwHOQQQNhd3V7qmDgeUVDVya74AtRoAuYdXk3vkAarVKvU/vUYQBOAdNNLI3CcXE/zqleHq4z0U8opwKI7j0PT29oamkeyvTrn84kohuKI7jU4kzVW5gpb60VIZqtX0V28MbtQvvQnyueFRpoAhIoeBIBQRxLszGgSiQxKvlQr5H20A55BshtqWFweVqOEdwbvHMGk60EwGP+caqFTx86/HvL7rAuBlE8CYAJGjgA8BRbVfRfBhiHEOAkMwexYyfhyo4g4cpvrVb6RzoBEEBMkAhlTiEPDzrkvf/YzF/P61NFJV/IwuSHX5KKAGUJMkJUQGz6Ke7yf7wH0pHapUN/4Q6ZycylMUpTlq/TdtwldeTZ8bCf6mhan8qaLd09PCUT0KeAPo8pV31wB8FCrGIJMmEn36tvSqyedwe/YN3gKjCbu8+sdUvlTxSxZDuZxuvnsGeE9PT08d8EZEtKkIZxrtbQKQ/fK9aKOOtLfT2PoSVAYurbWq4DzyXh8U8vgZ0/Dz54Ix6LROxfuzrTYjdBfush2n589ZPu7ZbVQ3PU3t2z9AnYMgRLJZxhwihBueSqk0TQFrK0ImcsDeVt80tIm6A5FtYamfK36+Xcfvf0saxUJamRdreWD4R1LFjACK95CJcCuWer9ksaFc6QdWWWt7L0hbE9OuWCFJsRAfWL1K9q1bQ1IsICPJ1Wi0iuBv/Cj1Tevx8+cK5cqT1tp24OVhbeKQXrS11ga8iUhXx/4D5sqfvTDYq4wYoSp65QdTPU3pjK21PRe1n1hrUxtr7WDf2Gx++6213eL9wrMfns3e76xNTixbRFgZQINgeEc7oYPksYdc8pX7QeR1oMta2xPH8TDGW/5HXAQ0jmNUZGfPihWCkcdP3vpxdm1c1zh7zWyCShXNZXGfX+ka6x9DO8Ydod5YbHt6Pga81xK1kdp++T+/LTLW2vpL27dv91HUk+07pbVpnSLl8hnC8CFr7bNxHEfW2kaLutGGGQuwaVyP4xg15i5xrqN+2fg+qdWesHfeORF4rlW8Y33IAPwPs88doyy0nN4AAAAASUVORK5CYII=") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
}
.ng-bar-plugin h4.services {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDQUgA5QEfwAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAMSSURBVEjH1VZrSNNRFP/dTcnElIw2ikyyl0qUIaxCU8tCUKKX+EBkZG5FpEUgFYY9oA9qSS8LsxZFpRQkFawPmhLiAzGJ2TLUmZJJTttqc+g29z99EfX/d9PhKujA/XLuufd3zu887mVEhL8tIvwD8XLPzIL3RQrKrxkGBwBeUiQWlePkBh/mUSQ8Gm391FDfiWGDAQaDAQZ9B5o+DGF8yhqzse4ExIZ+dQHti0qg3EcaMnEArIPoGuJbfe8YhA0AZ2wj1fEEikktpoYfDqdQjJ94O769zif5xVr8nNAsiYzH2uEGNPeNCY76YKVsC/w/v8NH04RqxUFcU51GdKCIuQRxDDynrL2F0HpQcD4xJVBfjWH+zAVdYmmsMSM+wIM6kiIxZRP82Gw5EUsCd58rRop0fhCrFCU4tTWAieZKPMM4zKNC7QKEp57H/Vd1aGysZVVlZ7F3tXgGiMloBblMvL2f1LdK8aZdh56eHgyOCDw8/AgPj4Yz32k0kLmNSjKUqBjgOyNZvR5rQtYgIikb8mgJE09GYtXh5ZNqNGlmAsBLBmVaGHwFPLNFESwze6PA2Aq9ToPG6he490KHMbfHin8QpAuZ0xbzW74Mfn9kdhm70GvinGw4YOz+gpFZjjIeiG8Ey7mUi6zUPdixeRl4fpMGd8qaYOSwiwcxVEel5Z2Ca5ciVLYTe9KUyJOHwcd5xwMY09KVA3JU6vlqyfYsHEuPQ+hiDnptDR6XPkaLkW8TfOQZKhUhzHuuKcxZ9Phlnxm6vl6FC/WqWZk1f+2HmQtRBopw1/Xssn+l5zmpKGy1zXeoQHamAteTg3jR8BLPjXSj5ZPNg7EyBm1LF8wclC6rS7Q4lhXcyELoZDN7Y11SJvbLBMUAAOJgxKYfQtK0zheHZ+NmQRyEdIGIBMsBk+YB5aQp6Orbb2QlAlmaKS86kiIjp1ZsfitZiMCN9pH6spxSTj6kdpODZt5HTqrLmdh7SZWWjNt9U6qQE1V4mhnE3Hm/3XvjvaVsW9IOam40TrzxEsRHSd39ILgZyf/wJfoNXO1bWdAV9N8AAAAASUVORK5CYII=") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
}
.ng-bar-plugin h4.plug {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAfCAYAAAAbW8YEAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wUCDQgIg4/SyAAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAALHSURBVEjH7ddRSFNRGAfw/9mc4rooViZpJSuKsE0iCCNC16tIalAgPZhb1Ax8Mc0lQYG4F52WI8npULDEJzVFyKQEDcvCCrRCM9ECrZmII6851/16kdqm3bstZwSdx8Pl/u75vu9851xGRNjoIcNfGOuEEpxTj+lu1Q2y3X9HC4L40yHrAS6ONVOBzowBHgDuYTyqg0qTOBaklXqDALCAmTknhOCEdy0QCE3MRX5ylOiLZb4C/Fg71Xd9IKcEWGs5i/1Kxv4wpwR+tIku6SvxfDECQ3w9XdP0o9gLVGhyYa3S4cAmcRAAmPg+JXx730z5OWY8438FJxwCFuEOGlBr0UPNeYLfZ3rpZuF1NL1RIOliJcqyE5iSSYRXmH9K5XnuIABvUH0BVotuNWjvIZM+H03DDkCYxYC1Dq94kER4eQzVlKDNLvJV27Nwy6KHhpN5gC77IzLpL6N92m1y90HEhUoUkjD3hGyiIoDpTjR2f8SSB/iQSnVeYGw6yirPIF4BJoouvO7EoFOqJBzoM+XA2DJJSwBcn7upJKcIHZ/cwQyU24pxPFrOJKp3GTNvJzxWIAUXfskmrs2CB3Zv8Aq0bqAIKoCf4/1oFA70Wy2eU3GZMNuMSNkqZz7uU4YwLizwZrXjJCrqipC8BiiSUwViEuKhCPDgUp/OwpHfgCIoA5eYhkMBqQKGK87B2DpJTn97r2zzMXY+c1uA8Z1Hb2MrRlaage8NX3DBFcYFZsamo+x2HjRKMN8bvuDAi2oD5TaO++0x1SmYqwuQHO1PTldAQ8Oo20GshGpPJKQuIapUI+40FIqCq1e6JhgJ7dV6mE7EsNnBTmpp70Lv4Agm7F8hhCixZedeqA9rkZqRjpR9EUzuSzR+Hm1iYMYuFhqU2yD/kmo2ABSp3uCBnuFdnqKe1h5MLTOEq7RIOxobFNCH68r/34p/EP0BIpI91X+FzxwAAAAASUVORK5CYII=") no-repeat left top;
  background-size: contain;
  padding-left: 18px;
}
